/* Светлая тема */
body.light {
	--background-color: linear-gradient(
		180deg,
		rgb(255, 255, 255),
		rgb(235, 240, 250) 100%
	);
	--phonebg-color: rgb(255, 255, 255);
	--header-background: linear-gradient(
		161.42deg,
		rgb(65, 159, 217) 27.928%,
		rgb(22, 138, 205) 71.827%
	);
	--header-border-background: #ffffff;
	--text-color: rgb(0, 14, 106);
	--input-border-color: rgba(0, 14, 106, 0.1);
	--input-background: #ffffff;
	--input-text-color: rgb(65, 159, 217);
	--button-background: rgb(65, 159, 217);
	--button-text-color: rgb(65, 159, 217);
	--button-disabled-background: rgba(65, 159, 217, 0.5);
	--switch-background: #ccc;
	--switch-slider-background: #fff;
	--switch-checked-background: rgb(56, 109, 158);
	--button-border-color: rgba(65, 159, 217, 0.2);
	--placeholder: rgba(0, 14, 106, 0.25);
	--editor-color-num: rgba(255, 255, 255, 0.25);

	--logo-bg: radial-gradient(
			80.8% 71.4% at 36% 28.000000000000004%,
			rgb(65, 159, 217),
			rgb(22, 138, 205) 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	--header-pl-bg: rgb(235, 240, 250);
	--btn-pl-bg: rgba(59, 104, 193, 0.1);
	--icon-bg: rgba(150, 153, 180);
	--phone-color: rgb(177, 184, 213);
	--editor-bg: rgb(36, 47, 61);
	--editor-bg: rgb(255, 255, 255);
	--editor-color-num: rgba(0, 14, 106, 0.25);
	--link-color: rgb(153 156 179);
	--error-message: #f44336da;
	--block_fixeds: rgba(255, 255, 255, 1);
	--block_fixeds-border: rgba(0, 14, 106, 0.3);
	--fill_setting: brightness(0) saturate(100%) invert(73%) sepia(3%)
		saturate(1268%) hue-rotate(198deg) brightness(108%) contrast(89%);
	--setting_hover: #232f3d;
	--borders-block: #e7ebf8;

	--bg-animation: #3f9ed8;
	--bg-animation2: #d0e6f5;
	--color-texts: #7b83b4;
	--bg-messages: rgba(65, 159, 217, 0.1);
	--loading-color: rgba(0, 14, 106, 0.25);
	--loading-color-title: rgba(0, 14, 106, 1);
}

/* Темная тема */
body.dark {
	--phonebg-color: rgb(19, 28, 38);
	--background-color: rgb(19, 28, 38);
	--header-background: linear-gradient(
		161.42deg,
		rgb(56, 109, 158) 27.928%,
		rgb(43, 83, 120) 71.827%
	);
	--header-border-background: rgb(17, 26, 35);
	--text-color: #ffffff;
	--input-border-color: rgb(43, 55, 70);
	--input-background: rgb(36, 47, 61);
	--input-text-color: rgb(56, 109, 158);
	--button-background: rgb(56, 109, 158);
	--button-text-color: rgb(56, 109, 158);
	--button-disabled-background: rgba(56, 109, 158, 0.5);
	--switch-background: #444;
	--switch-slider-background: #fff;
	--switch-checked-background: rgb(43, 83, 120);
	--button-border-color: rgb(27, 47, 65);
	--placeholder: rgb(91, 99, 110);
	--editor-color-num: rgba(255, 255, 255, 0.25);

	--logo-bg: radial-gradient(
			80.8% 71.4% at 36% 28.000000000000004%,
			rgb(56, 109, 158),
			rgb(43, 83, 120) 100%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	--header-pl-bg: rgb(23, 33, 44);
	--btn-pl-bg: rgb(35, 44, 53);
	--icon-bg: rgb(70, 75, 85);
	--phone-color: rgb(80, 88, 95);
	--editor-bg: rgb(36, 47, 61);
	--editor-color-num: rgba(255, 255, 255, 0.25);
	--link-color: rgb(91, 99, 110);
	--error-message: #f43636ad;
	--block_fixeds: rgb(36, 47, 61);
	--block_fixeds-border: rgb(60, 75, 91);
	--fill_setting: brightness(0) saturate(100%) invert(31%) sepia(4%)
		saturate(1793%) hue-rotate(175deg) brightness(97%) contrast(84%);
	--setting_hover: #232f3d;
	--borders-block: #1d2630;
	--bg-animation: #346593;
	--bg-animation2: #1b2d3f;
	--color-texts: #888d92;
	--bg-messages: rgba(24, 32, 43, 0.8);
	--loading-color: rgba(255, 255, 255, 0.25);
	--loading-color-title: rgba(255, 255, 255, 1);
}
